body {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__topContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f0f14;
    padding: 5px 0;
}

.header__topBox {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 30px;
}

.header__topText {
    padding: 8px 15px;
}

.header__topText--backgroundColor {
    background-color: #fda027;
}

.header__link {
    color: white;
    font-size: 14px;
    text-decoration: none;
    font-size: 12px;
}

.nav {
    width: 100%;
    background-color: rgb(7, 10, 20);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__linkContainer {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-right: 30px;
}

.nav__link {
    color: rgb(99, 110, 156);
    text-decoration: none;
    font-size: 12px;
}

.information {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.information__img {
    width: 100%;
    height: auto;
}

.information__container {
    width: 100%;
    height: 550px;
    background-color: rgb(40, 58, 139);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    gap: 20px;
}

.information__title {
    font-size: 60px;
    text-align: center;
    margin: 0;
}

.information__hr {
    width: 80px;
    border: 2px solid white;
}

.information__text {
    text-align: center;
    margin: 0;
}

.about {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.about__container {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px 0;
}

.about__title {
    font-size: 40px;
    margin: 0;
}

.about__hr {
    display: flex;
    width: 60px;
    border: 2px solid rgb(0, 23, 156);
    margin-left: 0;
}

.about__text {
    font-size: 20px;
    line-height: 25px;
}

.courses {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 0;
}

.courses__cardContainer {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses__card {
    display: flex;
    flex-direction: column;
}

.courses__cardImg {
    width: 250px;
    display: flex;
}

.courses__img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.courses__text {
    color: rgb(180, 180, 180);
}

.courses__link {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: rgb(58, 58, 172);
}

.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    gap: 40px;
}

.contact__textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__text--linkDecoration {
    text-decoration: none;
    color: rgb(0, 82, 165);
}

.contact__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 10px;
}

.contact__formInput {
    width: 96%;
    padding: 10px;
    border: 1px solid rgb(202, 216, 230);
    border-radius: 5px;
}

.contact__formText {
    width: 96%;
    padding: 20px 10px;
    border: 1px solid rgb(202, 216, 230);
    border-radius: 5px;
}

.contact__formButton {
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 82, 165);
    color: rgb(255, 255, 255);
    border: none;
}